$black = #000000
$dark-grey = #545454
$grey = #AFAFAF

$blue-light = #68D0FF
$blue = #00A2EA

$transparent = rgba(255,255,255,.7)

$page-padding = 20px
$header-font-size = 36px
$header-font-size-mob = 28px
$header-padding-bottom = 15px
$ios-statusbar-height = 15px

$btn-layout-padding = 10px
$btn-layout-bg = rgba(0,0,0,.5)
$btn-layout-size = 48px

$backdrop-color = rgba(0,0,0,.8)


$player-btns-margin = 20px
$player-top = 61px

transition-default()
  transition: all .2s ease
  
flex-center()
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
fullscreen()
  absolute: top left right bottom
  
font-family-default()
  font-family: 'Helvetica Neue', 'Helvetica Neue Light Woff', 'Helvetica', 'Roboto', 'Lucida Grande', 'sans-serif', 'Arial'

font-weight(weight)
  if weight is 'thin'
    font-weight: 100
    font-family: 'Helvetica Neue', 'Helvetica Neue Thin Woff', 'Roboto', 'sans-serif', 'Arial'
  if weight is 'light'
    font-weight: 300
    font-family: 'Helvetica Neue', 'Helvetica Neue Light Woff', 'Roboto', 'sans-serif', 'Arial'
  // if weight is 'regular'
  //   font-weight: 400
  // if weight is 'medium'
  //   font-weight: 400