.opacity-scale
  &-enter-active, &-leave
    transform: scale(1)
    transition-default()
    opacity: 1
  
  &-enter, &-leave-active
    opacity: 0
    
  &-enter
    transform: scale(2)
  &-leave-active
    transform: scale(.6)
    
.opacity
  &-enter-active, &-leave
    transition: opacity 1s
    opacity: 1
  
  &-enter, &-leave-active
    opacity: 0
    
  // &-enter
    
    
.translate-from-down
  &-enter-active, &-leave
    transition: all .2s ease
    transform: translateY(0)
    opacity: 1
    
  &-enter, &-leave-active
    opacity: 0
    transform: translateY(100vh)
    
.translate-from-left
  &-enter-active, &-leave
    transition: all .2s ease
    transform: translateX(0)
    opacity: 1
    
  &-enter, &-leave-active
    transition-delay: 1s
    opacity: 0
    transform: translateX(-10vw)
    
@keyframes rotate
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(180deg)
  100%
    transform: rotate(360deg)
    
@keyframes blink
  0%, 100%
    opacity: .8
  50%
    opacity: .5
    
@keyframes narrow-up
  0%, 100%
    transform: scale(1) translateY(0)
  50%
    transform: scale(.8) translateY(-7px)
  100%
    transform: scale(1) translateY(-10px)